/*disable scrolling*/
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/*disable +- of number input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#search_results {
  display: none;
  margin: 12px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  min-height: 200px;
}

.item {
  display: inline-block;
  margin: 12px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  width: 80%;
}

.small_img {
  width: 54px;
  margin: 8px;
}

.author {
  font-size: 14px;
  margin: 0 8px 0 8px;
  transform: translateY(-24px);
}

.title {
  transform: translateY(-24px);
  font-size: 18px;
  margin: 0 8px 0 8px;
}

.genre {
  transform: translateY(-24px);
  font-size: 12px;
  margin: 0 12px 0 64px;
}

img.loading {
  display: none;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  box-shadow: black 0 0 10px 2px;
}

.search {
  display: inline-block;
  border-radius: 6px;
  padding: 18px;
  box-shadow: #313131 0 0 2px 2px;
}

.search:hover {
  box-shadow: black 0 0 2px 2px;
  transition-duration: 0.3s;
}


#info {
font-size: 20px;
}

#div_start {
float: right;
}

#headline {
text-decoration: none
}

#results {
  margin: 12px;
font-size: 14px;
font-weight: bold;
border: 1px solid #ddd;
padding: 15px;
text-align: left;
min-height: 32px;
}

#start_button {
  border: 0;
  background-color:transparent;
  padding: 0;
  margin: 15px 15px 3px 3px;
}
.interim {
color: gray;
}
.final {
color: black;
padding-right: 3px;
}
.button {
display: none;
}
.marquee {
margin: 20px auto;
}

#buttons {
margin: 10px 0;
position: relative;
top: -50px;
}

#copy {
margin-top: 20px;
}

#select_dialect, #select_language {
  display: none;
}

#copy > div {
display: none;
margin: 0 70px;
}

a.c1 {font-weight: normal;}